* {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  margin: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("./assets/filip-zrnzevic-_EMkxLdko9k-unsplash.jpg");

}
.weather{
  background-color: antiquewhite;
  padding: 20px;
  margin-top: 10px;
}